header {
    position: fixed;
    z-index: 9999999999999;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

nav {
    width: 98%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul li{
    color: aliceblue;
}
nav ul li:hover{
    color: #929292;
}

nav ul h3{
    font-size: 1.5rem;
    color: antiquewhite;
}
.small-button {
    width: 100px;
    color: white;
    font-size: 1rem;
    height: 45px;
    border: 1.5px solid white;
    cursor: pointer;
    background-color: inherit;
  }
  .small-button:hover{
    background-color: #fff;
    color: #000;
  }